body {
    font: Arial, Helvetica, sans-serif;
}

#container {
    width: 1050px;
    /*border: 1px solid gray;*/
    margin: 0 auto;
}

#header{
    height: 100px;
    padding: 10px 0;
}

#brand{
    float: left;
}

h1 a {
    font-size: 50px;
    font-weight: 100;
    color: powderblue;
    text-decoration: none;
    font-style: normal;
}

#searchbox {
    float: right;
    background: linear-gradient(black, red);
    background: -webkit-linear-gradient(black, red);
    background: -o-linear-gradient(black, red);
    background: -moz-linear-gradient(black, red);
    width: 400px;
    height: 50px;
    padding: 20px 20px 0 20px;
    margin-top: 20px;
    border-radius: 7px;
}
.text {
    float: left;
    width: 200px;
    padding: 5px;
    font-size: 15px;
    color: orange;
    border: 1px solid orange;
    
}

.submit {
    float: right;
    padding: 5px;
    font-weight: bold;
    color: white;
    background-color: black;
    font-size: 15px;
    border: 1px solid black;
}

.clear {
    clear: both;
}

#menu {
    height: 70px;
    background: linear-gradient(#F8F594, #D5D533);
    background: -webkit-linear-gradient(#F8F594, #D5D533);
    background: -o-linear-gradient(#F8F594, #D5D533);
    background: -moz-linear-gradient(#F8F594, #D5D533);
    padding: 7px 0;
}

ul {
    list-style: none;
}

#menu ul li {
    float: left;
    padding: 0 30px;
    height: 30px;
    border-right: 1px solid #5d12e7;
}

#menu ul li:last-child {
    border-right: none;
}

#menu ul li a {
    text-decoration: none;
    font-size: 20px;
    color: orange;
    line-height: 30px;
    -webkit-transition: font-size 0.3s ease;
    -moz-transition: font-size 0.3s ease;
    -o-transition: font-size 0.3s ease;
    -ms-stransition: font-size 0.3s ease;
    transition: font-size 0.3s ease;
}

#menu ul li a:hover, #menu ul li a.active{
    font-size: 20px;
    font-weight: bold;
    color: B314DB;
}

#introduction {
    background: linear-gradient(black, red);
    background: -webkit-linear-gradient(black, red);
    background: -o-linear-gradient(black, red);
    background: -moz-linear-gradient(black, red);
    padding: 30px;
    margin: 16px 0;
}

#introduction h3 {
    font-size: 45px;
    font-weight: normal;
    color: white;
}

#introduction p {
    font-size: 25px;
    color: gray;
    text-align: justify;
} 

.sidebar {
    height: 520px;
    width: 450px;
    border: 1px solid skyblue;
    border-radius: 20px;
    padding: 10px 30px;
    background: linear-gradient(black, red);
}

.sidebar h3 {
    font-size: 30px;
    color: orange;
}

.sidebar ul {
    padding-top: 8px;
}

#leftsidebar ul li {
    padding: 4px 0 4px 10px;
    list-style-image: url();
}

#rightsidebar ul li {
    padding: 17px 0 17px 70px;
    background: url() no repeat left center;
}

.sidebar ul li a {
    text-decoration: none;
    font-size: 22px;
    color: white;
    -webkit-transition: font-size 0.3s ease;
    -moz-transition: font-size 0.3s ease;
    -o-transition: font-size 0.3s ease;
    -ms-stransition: font-size 0.3s ease;
    transition: font-size 0.3s ease;
}

.sidebar ul li a:hover, .sidebar ul li a.active {
    text-decoration: none;
    color: pink;
    font-size: 27px;
    font-weight: bold;
}

#leftsidebar {
    float: left;
}

#rightsidebar {
    float: right;
}

.footer {
    height: 60px;
    background: linear-gradient(#F8F594, #D5D533);
    background: -webkit-linear-gradient(#F8F594, #D5D533);
    background: -o-linear-gradient(#F8F594, #D5D533);
    background: -moz-linear-gradient(#F8F594, #D5D533);
    padding: 10px 30px;
    margin-top: 15px;
}